# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `"pandas"` (–±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö), `"matmlotlib"` (–Ω–∏–∑–∫–æ—É—Ä–æ–≤–Ω–µ–≤–∞—è –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –≥—Ä–∞—Ñ–∏–∫–æ–≤ –Ω–∞ `Python`, –∫–æ—Ç–æ—Ä–∞—è —Å–ª—É–∂–∏—Ç –≤ –∫–∞—á–µ—Å—Ç–≤–µ —É—Ç–∏–ª–∏—Ç—ã –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏), –∞ –∏–º–µ–Ω–Ω–æ –º–æ–¥—É–ª—å `.pyplot` (–º–æ–¥—É–ª—å –≤ –ø–∞–∫–µ—Ç–µ Matplotlib) –∏ `NumPy` - —ç—Ç–æ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ Python, –∫–æ—Ç–æ—Ä—É—é –ø—Ä–∏–º–µ–Ω—è—é—Ç –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –≤—ã—á–∏—Å–ª–µ–Ω–∏–π: –Ω–∞—á–∏–Ω–∞—è —Å –±–∞–∑–æ–≤—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∑–∞–∫–∞–Ω—á–∏–≤–∞—è –ª–∏–Ω–µ–π–Ω–æ–π –∞–ª–≥–µ–±—Ä–æ–π.
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# –°–Ω–∏–º–∞–µ–º –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º—ã—Ö –∫–æ–ª–æ–Ω–æ–∫.
pd.set_option("display.max_columns", None)

# –ü–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º –¥–∞–Ω–Ω—ã—Ö, –æ—á–µ–Ω—å –≤–∞–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —ç—Ç–∞–ø –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ –∏ –æ—á–∏—Å—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö `(data cleaning & preprocessing)`. –≠—Ç–æ —Ñ—É–Ω–¥–∞–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π —à–∞–≥, –æ–±–µ—Å–ø–µ—á–∏–≤–∞—é—â–∏–π –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å –ø–æ—Å–ª–µ–¥—É—é—â–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏.
---

| –®–∞–≥ | –û–ø–∏—Å–∞–Ω–∏–µ | –ü—Ä–∏–º–µ—Ä –∫–æ–¥–∞ (Python) |
| ----------- | ----------- | ----------- |
| 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö | –ó–∞–≥—Ä—É–∑–∏—Ç—å –∏ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—Å—è —Å –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–Ω—ã—Ö | ‚úÖ–ó–∞–≥—Ä—É–∑–∫–∞ `CSV` –∏–ª–∏ `Excel-—Ñ–∞–π–ª–∞`. –£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ —É–∫–∞–∑–∞–ª–∏ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –ø—É—Ç—å –∏ –∫–æ–¥–∏—Ä–æ–≤–∫—É (`encoding='utf-8'` –∏–ª–∏ `'cp1251'` –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏). –î–ª—è `Excel` –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ `pd.read_excel()`, –∞ –¥–ª—è `CSV` —Ñ–∞–π–ª–∞ `df = pd.read_csv("data.csv/xlsx")` |
|  | –ü—Ä–æ—Å–º–æ—Ç—Ä –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ | ‚úÖ`df.head()` - –ü—Ä–æ—Å–º–æ—Ç—Ä –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ ‚Äî –ø–æ–∑–≤–æ–ª—è–µ—Ç –±—ã—Å—Ç—Ä–æ –æ—Ü–µ–Ω–∏—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É –∏ –Ω–∞–ª–∏—á–∏–µ –æ—á–µ–≤–∏–¥–Ω—ã—Ö –ø—Ä–æ–±–ª–µ–º –≤ –¥–∞–Ω–Ω—ã—Ö. |
|  | –†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å —Ç–∞–±–ª–∏—Ü—ã | ‚úÖ`df.shape` - –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç (—Å—Ç—Ä–æ–∫–∏, —Å—Ç–æ–ª–±—Ü—ã), –ø–æ–º–æ–≥–∞–µ—Ç –ø–æ–Ω—è—Ç—å —Ä–∞–∑–º–µ—Ä –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.|
|  | –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö | ‚úÖ`df.info()` - –í–∞–∂–Ω—ã–π —ç—Ç–∞–ø: –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –ü–æ–º–æ–≥–∞–µ—Ç –Ω–∞–º–µ—Ç–∏—Ç—å —Å—Ç—Ä–∞—Ç–µ–≥–∏—é –æ—á–∏—Å—Ç–∫–∏.|
|  | –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —á–∏—Å–ª–æ–≤—ã–º | ‚úÖ`df.describe()` - –î–∞–µ—Ç —Å–≤–æ–¥–Ω—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø–æ —á–∏—Å–ª–æ–≤—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º: —Å—Ä–µ–¥–Ω–µ–µ, –º–∏–Ω–∏–º—É–º, –º–∞–∫—Å–∏–º—É–º, –∫–≤–∞—Ä—Ç–∏–ª–∏ –∏ —Ç.–¥. –ü–æ–ª–µ–∑–Ω–æ –¥–ª—è –≤—ã—è–≤–ª–µ–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤.|
| 2. –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è | –ù–∞–π—Ç–∏ –ø—Ä–æ–ø—É—Å–∫–∏ | ‚úÖ`df.isnull().sum()` - –ü–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–∞–∂–¥–æ–º—É —Å—Ç–æ–ª–±—Ü—É. –ö—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–∞–∂–Ω–æ –¥–ª—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—á–∏—Å—Ç–∫–∏.|
|  | –£–¥–∞–ª–∏—Ç—å —Å—Ç—Ä–æ–∫–∏ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ | ‚ùå`df.dropna(inplace=True)` - –û—Å—Ç–æ—Ä–æ–∂–Ω–æ! –£–¥–∞–ª—è–µ—Ç –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ —Å —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∏–º NaN. –ú–æ–∂–µ—Ç –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Å–∏–ª—å–Ω–æ–π –ø–æ—Ç–µ—Ä–µ –¥–∞–Ω–Ω—ã—Ö. –õ—É—á—à–µ –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ç–æ–ª—å–∫–æ, –µ—Å–ª–∏ –¥–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–∞–ª–∞.|
|  | –ó–∞–ø–æ–ª–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–º | ‚ùå`df['col'].fillna(df['col'].mean(), inplace=True)` - –ó–∞–ø–æ–ª–Ω—è–µ—Ç —Å—Ä–µ–¥–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º. –ü—Ä–∏–º–µ–Ω–∏–º–æ —Ç–æ–ª—å–∫–æ –∫ —á–∏—Å–ª–æ–≤—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º. –ù–µ –ø–æ–¥—Ö–æ–¥–∏—Ç –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏–ª–∏ –¥–∞–Ω–Ω—ã—Ö —Å —Å–∏–ª—å–Ω—ã–º–∏ –≤—ã–±—Ä–æ—Å–∞–º–∏. –î–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–π –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–æ–¥—É (.mode()[0]).|
| 3. –î—É–±–ª–∏–∫–∞—Ç—ã | –ù–∞–π—Ç–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã | ‚úÖ`df.duplicated().sum()` - –í—ã—è–≤–ª—è–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª–Ω–æ—Å—Ç—å—é –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.|
|  | –£–¥–∞–ª–∏—Ç—å –¥—É–±–ª–∏–∫–∞—Ç—ã | ‚úÖ`df.drop_duplicates(inplace=True)` - –£–¥–∞–ª—è–µ—Ç –≤—Å–µ –ø–æ–ª–Ω–æ—Å—Ç—å—é –∏–¥–µ–Ω—Ç–∏—á–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏. –ò–Ω–æ–≥–¥–∞ –ø–æ–ª–µ–∑–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å subset=['col1', 'col2'] –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –ø–æ –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º.|
| 4. –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö | –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–∏–ø–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É | ‚úÖ`df['col'] = df['col'].astype(float)` - –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —á–∏—Å–ª–æ–≤–æ–π —Ç–∏–ø (float). –ï—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –∫–∞–∫ —Å—Ç—Ä–æ–∫–∏, –Ω–æ —Å–æ–¥–µ—Ä–∂–∞—Ç —á–∏—Å–ª–∞ ‚Äî –≤–∞–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å .str.replace(',', '.') –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏.|
|  | –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ –¥–∞—Ç—É | ‚ùå`df['date'] = pd.to_datetime(df['date'])` - –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Ñ–æ—Ä–º–∞—Ç datetime ‚Äî –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –ø–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º –ø–æ –¥–∞—Ç–µ: –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ –≤—Ä–µ–º–µ–Ω–∏, –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è.|
|  | –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø | ‚úÖ`df['col'] = df['col'].astype('category')` - –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ –∏ —è–≤–Ω–æ–µ —É–∫–∞–∑–∞–Ω–∏–µ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫. –ü–æ–ª–µ–∑–Ω–æ –¥–ª—è –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö —Å –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω—ã–º —á–∏—Å–ª–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π.|
| 5. –¢–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ | –û—á–∏—Å—Ç–∫–∞ —Ç–µ–∫—Å—Ç–∞ | ‚ùå`df['text'] = df['text'].str.replace(r'[^\w\s]', '', regex=True)` - –£–¥–∞–ª–µ–Ω–∏–µ –ø—É–Ω–∫—Ç—É–∞—Ü–∏–∏, —Å–ø–µ—Ü—Å–∏–º–≤–æ–ª–æ–≤. –ü–æ–ª–µ–∑–Ω–æ –ø–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º —Ç–µ–∫—Å—Ç–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, WordCloud, NLP). –ú–æ–∂–Ω–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É (.str.lower()).|
| 6. –§–∏–Ω–∞–ª—å–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ | –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏ | ‚úÖ`df.isnull().sum()` - –§–∏–Ω–∞–ª—å–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏ –ø–µ—Ä–µ–¥ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ–º –∏–ª–∏ –∞–Ω–∞–ª–∏–∑–æ–º. –ñ–µ–ª–∞—Ç–µ–ª—å–Ω–æ, —á—Ç–æ–±—ã –≤ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö –Ω–µ –±—ã–ª–æ NaN.|
|  | –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—á–∏—â–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö | ‚ùå`df.to_csv('clean_data.csv', index=False)` - –°–æ—Ö—Ä–∞–Ω—è–µ—Ç –æ—á–∏—â–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –±–µ–∑ –∏–Ω–¥–µ–∫—Å–∞. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ–±—ã –ø—É—Ç—å –∏ –∏–º—è —Ñ–∞–π–ª–∞ –±—ã–ª–∏ –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã.|

In [3]:
# ========== 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö ==========
# –ó–∞–≥—Ä—É–∑–∫–∞ csv-—Ñ–∞–π–ª–∞ –≤ –æ–±—ä–µ–∫—Ç DataFrame.
# –ú–µ—Ç–æ–¥ pd.read_csv() —Å—á–∏—Ç—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞ csv (—Ñ–æ—Ä–º–∞—Ç–∞ .csv) –∏ –∑–∞–≥—Ä—É–∂–∞–µ—Ç –≤ —Ç–∞–±–ª–∏—Ü—É.
df_walmart = pd.read_csv("34_hw_dataset.csv")

In [4]:
# ========== 2. –ü–µ—Ä–≤–∏—á–Ω—ã–π –æ—Å–º–æ—Ç—Ä ==========
print(df_walmart.head())
print(df_walmart.tail())
# –§—É–Ω–∫—Ü–∏—è info() –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ DataFrame
# –í–∫–ª—é—á–∞—è —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø–∞–º—è—Ç–∏
# memory_usage = "deep" –ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ–ª—É—á–∏—Ç—å –±–æ–ª–µ–µ —Ç–æ—á–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–∏ –ø–∞–º—è—Ç–∏
# –í–∞–∂–Ω–æ –æ—Ç–º–µ—Ç–∏—Ç—å, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ memory_usage = "deep" –º–æ–∂–µ—Ç –∑–∞–Ω—è—Ç—å –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–æ —Ç—Ä–µ–±—É–µ—Ç –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞
print(df_walmart.info(memory_usage = "deep"))
print(df_walmart.describe())
print("Shape:", df_walmart.shape)

                Product                                      Review  Price  \
0    Samsung Galaxy S23  Perfect for gaming, but poor battery life.   $640
1      Sony Xperia 1 IV                           Cheap & powerful!  $1044
2    Samsung Galaxy S23     Battery life is awesome, but expensive.   $526
3      Sony Xperia 1 IV  Stock Android is smooth, but no free case.   $728
4  Xiaomi Redmi Note 12  Stock Android is smooth, but no free case.   $660

             Seller
0           Walmart
1            Amazon
2  OnePlus Official
3      Samsung Shop
4          Flipkart
              Product                                     Review  Price  \
995    Google Pixel 7           Oxygen OS is better than before!  $1270
996  Asus ROG Phone 6           Oxygen OS is better than before!   $606
997        Huawei P50              Great phone! Amazing camera üì∏   $941
998        OnePlus 11              Great phone! Amazing camera üì∏   $792
999  Sony Xperia 1 IV  Premium design, but lacks headphone jack.   $993

           Seller
995  Samsung Shop
996    AliExpress
997      Flipkart
998        Amazon
999  Samsung Shop
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  1000 non-null   object
 1   Review   1000 non-null   object
 2   Price    1000 non-null   object
 3   Seller   1000 non-null   object
dtypes: object(4)
memory usage: 265.0 KB
None
                 Product                         Review  Price   Seller
count               1000                           1000   1000     1000
unique                10                             10    644       10
top     Asus ROG Phone 6  Great phone! Amazing camera üì∏  $1056  Walmart
freq                 119                            121      4      110
Shape: (1000, 4)

In [5]:
df_walmart['Product'] = df_walmart['Product'].astype('category')
df_walmart['Review'] = df_walmart['Review'].astype('category')
df_walmart['Seller'] = df_walmart['Seller'].astype('category')
df_walmart.dtypes

Product    category
Review     category
Price        object
Seller     category
dtype: object

In [6]:
# –ù–∞—Ö–æ–¥–∏–º –ø—Ä–æ–ø—É—Å–∫–∏
df_walmart.isnull().sum()

Product    0
Review     0
Price      0
Seller     0
dtype: int64

In [7]:
# –ù–∞—Ö–æ–¥–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã
df_walmart.duplicated().sum()

np.int64(1)

In [8]:
# –ü—Ä–æ—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã
duplicates = df_walmart[df_walmart.duplicated()]
print(duplicates)

        Product                                Review  Price        Seller
241  Huawei P50  Good performance, but heating issue.  $1127  Samsung Shop

In [9]:
# –£–¥–∞–ª—è–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã
print("–î–æ —É–¥–∞–ª–µ–Ω–∏—è:", len(df_walmart))
df_walmart = df_walmart.drop_duplicates()
print("–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è:", len(df_walmart))

–î–æ —É–¥–∞–ª–µ–Ω–∏—è: 1000
–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è: 999

# –î–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–æ–≤, –æ—Ç–∑—ã–≤—ã, —Ü–µ–Ω—ã –∏ –ø—Ä–æ–¥–∞–≤—Ü–æ–≤. –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äì –æ—á–∏—Å—Ç–∏—Ç—å –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ, –≤—ã–ø–æ–ª–Ω–∏–≤ —Å–ª–µ–¥—É—é—â–∏–µ —É–ø—Ä–∞–∂–Ω–µ–Ω–∏—è:

### –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –≤–µ—Å—å —Ç–µ–∫—Å—Ç –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö `Product` –∏ `Seller` –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É.
### –ü—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ —Ç–µ–∫—Å—Ç –≤ –∫–æ–ª–æ–Ω–∫–µ `Review` –≤ –≤–µ—Ä—Ö–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä.
### –£–¥–∞–ª–∏—Ç–µ –ø—Ä–æ–±–µ–ª—ã –≤ –Ω–∞—á–∞–ª–µ –∏ –∫–æ–Ω—Ü–µ —Å—Ç—Ä–æ–∫ –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö `Product` –∏ `Seller`.
### –ó–∞–º–µ–Ω–∏—Ç–µ –≤—Å–µ –≤—Ö–æ–∂–¥–µ–Ω–∏—è —Å–ª–æ–≤–∞ `"free"` –≤ –∫–æ–ª–æ–Ω–∫–µ `Review` –Ω–∞ `"complimentary"`.
### –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è, —á—Ç–æ–±—ã —É–¥–∞–ª–∏—Ç—å —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —Å–∏–º–≤–æ–ª—ã (–Ω–∞–ø—Ä–∏–º–µ—Ä, `!` –∏ `üì∏`) –∏–∑ –∫–æ–ª–æ–Ω–∫–∏ `Review`.
---

In [10]:
# –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –≤–µ—Å—å —Ç–µ–∫—Å—Ç –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö Product –∏ Seller –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É.
for col in ["Product", "Seller"]:
    df_walmart[col] = df_walmart[col].str.lower()

df_walmart[["Product", "Seller"]].head()

                Product            Seller
0    samsung galaxy s23           walmart
1      sony xperia 1 iv            amazon
2    samsung galaxy s23  oneplus official
3      sony xperia 1 iv      samsung shop
4  xiaomi redmi note 12          flipkart

In [11]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ —Ç–µ–∫—Å—Ç –≤ –∫–æ–ª–æ–Ω–∫–µ `Review` –≤ –≤–µ—Ä—Ö–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä.
df_walmart["Review"] = df_walmart["Review"].str.upper()
df_walmart[["Review"]].head()

                                       Review
0  PERFECT FOR GAMING, BUT POOR BATTERY LIFE.
1                           CHEAP & POWERFUL!
2     BATTERY LIFE IS AWESOME, BUT EXPENSIVE.
3  STOCK ANDROID IS SMOOTH, BUT NO FREE CASE.
4  STOCK ANDROID IS SMOOTH, BUT NO FREE CASE.

In [12]:
# –£–¥–∞–ª–∏—Ç–µ –ø—Ä–æ–±–µ–ª—ã –≤ –Ω–∞—á–∞–ª–µ –∏ –∫–æ–Ω—Ü–µ —Å—Ç—Ä–æ–∫ –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö `Product` –∏ `Seller`.
for col in ["Product", "Seller"]:
    df_walmart[col] = df_walmart[col].str.strip()

df_walmart[["Product", "Seller"]].head()

                Product            Seller
0    samsung galaxy s23           walmart
1      sony xperia 1 iv            amazon
2    samsung galaxy s23  oneplus official
3      sony xperia 1 iv      samsung shop
4  xiaomi redmi note 12          flipkart

In [13]:
# –ó–∞–º–µ–Ω–∏—Ç–µ –≤—Å–µ –≤—Ö–æ–∂–¥–µ–Ω–∏—è —Å–ª–æ–≤–∞ `"free"` –≤ –∫–æ–ª–æ–Ω–∫–µ `Review` –Ω–∞ `"complimentary"`.
df_walmart["Review"] = df_walmart["Review"].str.replace("free", "complimentary", case = False)

df_walmart[df_walmart["Review"].str.contains("complimentary", case = False, regex = False)].head()

,Product,Review,Price,Seller
3,sony xperia 1 iv,"STOCK ANDROID IS SMOOTH, BUT NO complimentary ...",$728,samsung shop
4,xiaomi redmi note 12,"STOCK ANDROID IS SMOOTH, BUT NO complimentary ...",$660,flipkart
17,huawei p50,"STOCK ANDROID IS SMOOTH, BUT NO complimentary ...",$1154,newegg
23,asus rog phone 6,"STOCK ANDROID IS SMOOTH, BUT NO complimentary ...",$968,ebay
26,realme gt 2,"STOCK ANDROID IS SMOOTH, BUT NO complimentary ...",$452,oneplus official

In [14]:
# –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è, —á—Ç–æ–±—ã —É–¥–∞–ª–∏—Ç—å —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —Å–∏–º–≤–æ–ª—ã (–Ω–∞–ø—Ä–∏–º–µ—Ä, `!` –∏ `üì∏`) –∏–∑ –∫–æ–ª–æ–Ω–∫–∏ `Review`.
import re

df_walmart["Review"] = df_walmart["Review"].str.replace(r"[^A-Za-z0-9\s]", "", regex=True)

# –ò—â–µ–º emoji. –ï—Å–ª–∏ –Ω–∞ –≤—ã—Ö–æ–¥–µ –ø—É—Å—Ç–æ, –∑–Ω–∞—á–∏—Ç –æ–Ω–∏ —É–¥–∞–ª–µ–Ω—ã.
df_walmart[df_walmart["Review"].str.contains("üì∏", case = False, regex = False)]

Empty DataFrame
Columns: [Product, Review, Price, Seller]
Index: []

---

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø–æ–¥—Å—Ç—Ä–æ–∫:
### –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `contains_awesome`, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ `True`, –µ—Å–ª–∏ –≤ —Ç–µ–∫—Å—Ç–µ –æ—Ç–∑—ã–≤–∞ `(Review)` –µ—Å—Ç—å —Å–ª–æ–≤–æ `"awesome"`, –∏ `False` –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ.

### –ò–∑–≤–ª–µ–∫–∏—Ç–µ —á–∏—Å–ª–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ü–µ–Ω—ã –∏–∑ –∫–æ–ª–æ–Ω–∫–∏ `Price` –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –µ–≥–æ –∫–∞–∫ —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ –≤ –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–µ `Price_Numeric`.
---

In [15]:
# –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `contains_awesome`, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ `True`, 
# –µ—Å–ª–∏ –≤ —Ç–µ–∫—Å—Ç–µ –æ—Ç–∑—ã–≤–∞ `(Review)` –µ—Å—Ç—å —Å–ª–æ–≤–æ `"awesome"`, –∏ `False` –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ.
df_walmart["contains_awesome"] = df_walmart["Review"].str.contains(r"\bawesome\b", case=False, na=False)

df_walmart[["Review", "contains_awesome"]].head()

                                              Review  contains_awesome
0           PERFECT FOR GAMING BUT POOR BATTERY LIFE             False
1                                    CHEAP  POWERFUL             False
2              BATTERY LIFE IS AWESOME BUT EXPENSIVE              True
3  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE             False
4  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE             False

In [16]:
# –ò–∑–≤–ª–µ–∫–∏—Ç–µ —á–∏—Å–ª–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ü–µ–Ω—ã –∏–∑ –∫–æ–ª–æ–Ω–∫–∏ `Price` –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –µ–≥–æ 
# –∫–∞–∫ —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ –≤ –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–µ `Price_Numeric`.
df_walmart["Price_Numeric"] = df_walmart["Price"].replace(r"[\$,]", "", regex = True).astype(int)

df_walmart[["Price", "Price_Numeric"]].head()

   Price  Price_Numeric
0   $640            640
1  $1044           1044
2   $526            526
3   $728            728
4   $660            660

### –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ `iterrows()`:
### –ü—Ä–æ–π–¥–∏—Ç–µ—Å—å –ø–æ —Å—Ç—Ä–æ–∫–∞–º –¥–∞—Ç–∞—Å–µ—Ç–∞ –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–æ–≤ –≤–º–µ—Å—Ç–µ —Å –∏—Ö –ø—Ä–æ–¥–∞–≤—Ü–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç–µ: "`–¢–æ–≤–∞—Ä: iPhone 14 –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É Amazon`"

### –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `Word_Count`, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–¥–µ—Ä–∂–∏—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ª–æ–≤ –≤ –∫–∞–∂–¥–æ–º –æ—Ç–∑—ã–≤–µ `(Review)`.

### –ó–∞–º–µ–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏—è –ø—Ä–æ–¥–∞–≤—Ü–æ–≤ —Ç–∞–∫, —á—Ç–æ–±—ã `"best buy"` —Å—Ç–∞–ª–æ `"Best Buy"`, –∞ `"Google Store"` —Å—Ç–∞–ª–æ `"Google Official"`.

### –î–æ–±–∞–≤—å—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `Review_Length`, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å—Å—è –¥–ª–∏–Ω–∞ –∫–∞–∂–¥–æ–≥–æ –æ—Ç–∑—ã–≤–∞ `(—á–∏—Å–ª–æ —Å–∏–º–≤–æ–ª–æ–≤)`, –∏—Å–ø–æ–ª—å–∑—É—è `lambda`.

### –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ `while-—Ü–∏–∫–ª`, —á—Ç–æ–±—ã –ø—Ä–æ–π—Ç–∏—Å—å –ø–æ —Å—Ç—Ä–æ–∫–∞–º –∏ –ø—Ä–µ–∫—Ä–∞—Ç–∏—Ç—å –≤—ã–≤–æ–¥, –∫–∞–∫ —Ç–æ–ª—å–∫–æ –≤—Å—Ç—Ä–µ—Ç–∏—Ç—Å—è —Ç–æ–≤–∞—Ä —Å —Ü–µ–Ω–æ–π –Ω–∏–∂–µ `$500`.
---

In [17]:
# –ü—Ä–æ–π–¥–∏—Ç–µ—Å—å –ø–æ —Å—Ç—Ä–æ–∫–∞–º –¥–∞—Ç–∞—Å–µ—Ç–∞ –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–æ–≤ 
# –≤–º–µ—Å—Ç–µ —Å –∏—Ö –ø—Ä–æ–¥–∞–≤—Ü–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç–µ: "`–¢–æ–≤–∞—Ä: iPhone 14 –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É Amazon`"
for index, row in df_walmart.head().iterrows():
    print(f"–¢–æ–≤–∞—Ä: {row['Product']} –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É {row['Seller']}")

–¢–æ–≤–∞—Ä: samsung galaxy s23 –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É walmart
–¢–æ–≤–∞—Ä: sony xperia 1 iv –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É amazon
–¢–æ–≤–∞—Ä: samsung galaxy s23 –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É oneplus official
–¢–æ–≤–∞—Ä: sony xperia 1 iv –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É samsung shop
–¢–æ–≤–∞—Ä: xiaomi redmi note 12 –ø—Ä–æ–¥–∞—ë—Ç—Å—è —É flipkart

In [18]:
# –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `Word_Count`, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–¥–µ—Ä–∂–∏—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ª–æ–≤ –≤ –∫–∞–∂–¥–æ–º –æ—Ç–∑—ã–≤–µ `(Review)`.
df_walmart["Word_Count"] = df_walmart["Review"].str.split().str.len()
df_walmart[["Review", "Word_Count"]].head()

                                              Review  Word_Count
0           PERFECT FOR GAMING BUT POOR BATTERY LIFE           7
1                                    CHEAP  POWERFUL           2
2              BATTERY LIFE IS AWESOME BUT EXPENSIVE           6
3  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE           8
4  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE           8

In [29]:
# –ó–∞–º–µ–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏—è –ø—Ä–æ–¥–∞–≤—Ü–æ–≤ —Ç–∞–∫, —á—Ç–æ–±—ã `"best buy"` —Å—Ç–∞–ª–æ `"Best Buy"`, 
# –∞ `"Google Store"` —Å—Ç–∞–ª–æ `"Google Official"`.
df_walmart["Seller"] = df_walmart["Seller"].str.replace("best buy", "Best Buy", case = False)
df_walmart["Seller"] = df_walmart["Seller"].str.replace("Google Store", "Google Official", case = False)

df_walmart["Seller"].value_counts()

Seller
walmart             110
oneplus official    106
flipkart            106
Google Official     104
samsung shop        103
Best Buy            102
newegg               99
amazon               97
aliexpress           96
ebay                 76
Name: count, dtype: int64

In [30]:
# –î–æ–±–∞–≤—å—Ç–µ –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `Review_Length`, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å—Å—è –¥–ª–∏–Ω–∞ –∫–∞–∂–¥–æ–≥–æ –æ—Ç–∑—ã–≤–∞
# `(—á–∏—Å–ª–æ —Å–∏–º–≤–æ–ª–æ–≤)`, –∏—Å–ø–æ–ª—å–∑—É—è `lambda`.
df_walmart["Review_Length"] = df_walmart["Review"].apply(lambda x: len(x))

df_walmart[["Review", "Review_Length"]].head()

                                              Review  Review_Length
0           PERFECT FOR GAMING BUT POOR BATTERY LIFE             40
1                                    CHEAP  POWERFUL             15
2              BATTERY LIFE IS AWESOME BUT EXPENSIVE             37
3  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE             49
4  STOCK ANDROID IS SMOOTH BUT NO complimentary CASE             49

In [35]:
# –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ `while-—Ü–∏–∫–ª`, —á—Ç–æ–±—ã –ø—Ä–æ–π—Ç–∏—Å—å –ø–æ —Å—Ç—Ä–æ–∫–∞–º –∏ –ø—Ä–µ–∫—Ä–∞—Ç–∏—Ç—å –≤—ã–≤–æ–¥,
# –∫–∞–∫ —Ç–æ–ª—å–∫–æ –≤—Å—Ç—Ä–µ—Ç–∏—Ç—Å—è —Ç–æ–≤–∞—Ä —Å —Ü–µ–Ω–æ–π –Ω–∏–∂–µ `$500`.
i = 0
while i < len(df_walmart):
    price = df_walmart["Price_Numeric"].iloc[i]

    if price < 500:
        break
    else:
        product = df_walmart["Product"].iloc[i]
        print(f"{i}: {product} - ${price}")
    
    i += 1

0: samsung galaxy s23 - $640
1: sony xperia 1 iv - $1044
2: samsung galaxy s23 - $526
3: sony xperia 1 iv - $728
4: xiaomi redmi note 12 - $660
5: xiaomi redmi note 12 - $1236
6: oneplus 11 - $1166
7: realme gt 2 - $1153
8: google pixel 7 - $1122
9: sony xperia 1 iv - $1033
10: oneplus 11 - $1079