In [103]:
# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas
import pandas as pd

## –°–Ω–∏–º–∞–µ–º –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–æ–±—Ä–∞–∂–∞–µ–º—ã—Ö –∫–æ–ª–æ–Ω–æ–∫.
---

In [ ]:
# –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –æ–ø—Ü–∏–π –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –¥–ª—è Pandas
pd.set_option('display.max_columns', None)

# –ü–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º –¥–∞–Ω–Ω—ã—Ö, –æ—á–µ–Ω—å –≤–∞–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —ç—Ç–∞–ø –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ –∏ –æ—á–∏—Å—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö **(data cleaning & preprocessing)**. –≠—Ç–æ —Ñ—É–Ω–¥–∞–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π —à–∞–≥, –æ–±–µ—Å–ø–µ—á–∏–≤–∞—é—â–∏–π –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å –ø–æ—Å–ª–µ–¥—É—é—â–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏.
---

## –ö—Ä–∞—Ç–∫–∏–π —á–µ–∫-–ª–∏—Å—Ç –ø–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º:

| –®–∞–≥ | –î–µ–π—Å—Ç–≤–∏–µ |
| ----------- | ----------- |
| 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö. | –ó–∞–≥—Ä—É–∑–∏—Ç—å —Ñ–∞–π–ª –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤, –∑–∞–¥–∞—Ç—å –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ |
| 2. –û—á–∏—Å—Ç–∫–∞ –Ω–∞–∑–≤–∞–Ω–∏–π –∫–æ–ª–æ–Ω–æ–∫ | –£–¥–∞–ª–∏—Ç—å –ø—Ä–æ–±–µ–ª—ã, –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –µ–¥–∏–Ω–æ–æ–±—Ä–∞–∑–∏—é (–∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É) |
---
### –î–∞—Ç–∞—Å–µ—Ç Iris ‚Äî —ç—Ç–æ –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–π –∏ —Ö–æ—Ä–æ—à–æ –∏–∑–≤–µ—Å—Ç–Ω—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö, –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã–π —Å 1936 –≥–æ–¥–∞ (–§–∏—à–µ—Ä). –û–Ω –≤—Å–µ–≥–¥–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç:
| –ü—Ä–∏–∑–Ω–∞–∫ | –û–ø–∏—Å–∞–Ω–∏–µ |
| ----------- | ----------- |
| sepal length | –¥–ª–∏–Ω–∞ —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ (float) |
| sepal width | —à–∏—Ä–∏–Ω–∞ —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ (float) |
| petal length | –¥–ª–∏–Ω–∞ –ª–µ–ø–µ—Å—Ç–∫–∞ (float) |
| petal width | —à–∏—Ä–∏–Ω–∞ –ª–µ–ø–µ—Å—Ç–∫–∞ (float) |
| species | –≤–∏–¥ —Ü–≤–µ—Ç–∫–∞ (—Å—Ç—Ä–æ–∫–∞) |
---

# 1. –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç `Iris` —Å –ø–æ–º–æ—â—å—é –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `pandas`.
---

In [105]:
# –ó–∞–¥–∞—ë–º –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
right_columns_names = [
    "sepal_length (cm)",
    "sepal_width (cm)",
    "petal_length (cm)",
    "petal_width (cm)",
    "species"
]

# –ó–∞–≥—Ä—É–∂–∞–µ–º —Ñ–∞–π–ª –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤, –∑–∞–¥–∞–≤–∞—è –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫.
# –ó–∞–≥—Ä—É–∑–∫–∞ CSV-—Ñ–∞–π–ª–∞ –≤ –æ–±—ä–µ–∫—Ç DataFrame.
# –ú–µ—Ç–æ–¥ pd.read_csv —Å—á–∏—Ç—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞ CSV (—Ñ–æ—Ä–º–∞—Ç–∞ .csv) –∏ –∑–∞–≥—Ä—É–∂–∞–µ—Ç –≤ —Ç–∞–±–ª–∏—Ü—É.
# header = None —É–∫–∞–∑—ã–≤–∞–µ—Ç, —á—Ç–æ –≤ —Ñ–∞–π–ª–µ –Ω–µ—Ç –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤.
df_iris = pd.read_csv("iris.data.csv", header = None, names = right_columns_names)

In [106]:
# –£–¥–∞–ª–∏—Ç—å –ø—Ä–æ–±–µ–ª—ã, –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –µ–¥–∏–Ω–æ–æ–±—Ä–∞–∑–∏—é (–∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É)
df_iris.columns = df_iris.columns.str.strip().str.lower()
# –í—ã–≤–µ—Å—Ç–∏ –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏
df_iris.columns

Index(['sepal_length (cm)', 'sepal_width (cm)', 'petal_length (cm)',
       'petal_width (cm)', 'species'],
      dtype='object')

# 2. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ `head()` –¥–ª—è –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –ø–µ—Ä–≤—ã—Ö `5` —Å—Ç—Ä–æ–∫ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.
---

In [107]:
# –í—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã.
df_iris.head()

,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm),species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

# 3. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ `tail()` –¥–ª—è –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –ø–æ—Å–ª–µ–¥–Ω–∏—Ö `5` —Å—Ç—Ä–æ–∫ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.
---

In [108]:
# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞
df_iris.tail()

,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm),species
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

# 4. –ü—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ `describe()` –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–æ–≥–æ –æ–ø–∏—Å–∞–Ω–∏—è —á–∏—Å–ª–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤.
---

In [109]:
# –ú–µ—Ç–æ–¥ describe() –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Å–≤–æ–¥–Ω–æ–π —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ DataFrame.
# –û–Ω –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (count), —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (mean),
# —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ (std / —Ä–∞–∑–±—Ä–æ—Å –¥–∞–Ω–Ω—ã—Ö), –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (min), 25-–π, 50-–π (–º–µ–¥–∏–∞–Ω–∞) –∏ 75-–π –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª–∏ (quartiles), –∞ —Ç–∞–∫–∂–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (max)
# –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —á–∏—Å–ª–æ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –≤ DataFrame df_iris.
df_iris.describe()

,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

# 5. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ `info()` –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –∏ –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π.
---

In [110]:
# –§—É–Ω–∫—Ü–∏—è info() –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ DataFrame
# –í–∫–ª—é—á–∞—è —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø–∞–º—è—Ç–∏
# memory_usage = "deep" –ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ–ª—É—á–∏—Ç—å –±–æ–ª–µ–µ —Ç–æ—á–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–∏ –ø–∞–º—è—Ç–∏
# –í–∞–∂–Ω–æ –æ—Ç–º–µ—Ç–∏—Ç—å, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ memory_usage = "deep" –º–æ–∂–µ—Ç –∑–∞–Ω—è—Ç—å –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–æ —Ç—Ä–µ–±—É–µ—Ç –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞
df_iris.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal_length (cm)  150 non-null    float64
 1   sepal_width (cm)   150 non-null    float64
 2   petal_length (cm)  150 non-null    float64
 3   petal_width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 13.9 KB

# 6. –° –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `.loc` –≤—ã–±–µ—Ä–∏—Ç–µ –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —à–∏—Ä–∏–Ω–∞ —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ `(sepal width)` –±–æ–ª—å—à–µ `3.0`.
---

In [111]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è —Å—Ç—Ä–æ–∫, –≥–¥–µ sepal_width > 3.0
# –ë—É–ª–µ–≤–∞—è –º–∞—Å–∫–∞ df_filtered –±—É–¥–µ—Ç True –¥–ª—è —Å—Ç—Ä–æ–∫, –≥–¥–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ —Å—Ç–æ–ª–±—Ü–µ "sepal_width" –±–æ–ª—å—à–µ 3.0
df_filtered = df_iris.loc[df_iris["sepal_width (cm)"] > 3.0]

# –í—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö 5 —Å—Ç—Ä–æ–∫ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ DataFrame
df_filtered.head()

,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm),species
0,5.1,3.5,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa

# 7. –° –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `.iloc` –æ—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –ø–µ—Ä–≤—ã–µ `3` —Å—Ç—Ä–æ–∫–∏ –∏ –ø–µ—Ä–≤—ã–µ `2` —Å—Ç–æ–ª–±—Ü–∞.
---

In [112]:
# –í—ã–±–∏—Ä–∞–µ–º –ø–µ—Ä–≤—ã–µ 3 —Å—Ç—Ä–æ–∫–∏ –∏ –ø–µ—Ä–≤—ã–µ 2 —Å—Ç–æ–ª–±—Ü–∞
df_first3_2cols = df_iris.iloc[0:3, 0:2]

# –í—ã–≤–æ–¥–∏–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π DataFrame
print("–ü–µ—Ä–≤—ã–µ 3 —Å—Ç—Ä–æ–∫–∏ –∏ –ø–µ—Ä–≤—ã–µ 2 —Å—Ç–æ–ª–±—Ü–∞:")
df_first3_2cols

–ü–µ—Ä–≤—ã–µ 3 —Å—Ç—Ä–æ–∫–∏ –∏ –ø–µ—Ä–≤—ã–µ 2 —Å—Ç–æ–ª–±—Ü–∞:

   sepal_length (cm)  sepal_width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2

# 8. –ü—Ä–µ–æ–±—Ä–∞–∑—É–π—Ç–µ —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –≤–∏–¥–∞ `(species)` –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `.astype().`
---

In [113]:
# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "species" –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö
# –ú–µ—Ç–æ–¥ astype("category") –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç —Å—Ç–æ–ª–±–µ—Ü "species" –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö.
df_iris["species"] = df_iris["species"].astype("category")

# –í—ã–≤–æ–¥–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ "species" –ø–æ—Å–ª–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
print("–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ 'species':", df_iris["species"].dtype)

–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ 'species': category

# 9. –í—ã—á–∏—Å–ª–∏—Ç–µ —Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤—Å–µ—Ö —á–∏—Å–ª–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –ø–æ –≤–∏–¥–∞–º –∏—Ä–∏—Å–æ–≤, –∏—Å–ø–æ–ª—å–∑—É—è –º–µ—Ç–æ–¥ `.groupby()`.
---

In [114]:
# –ü–æ–ª—É—á–µ–Ω–∏–µ —Å–ø–∏—Å–∫–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ —Å —Ç–∏–ø–æ–º –¥–∞–Ω–Ω—ã—Ö "float64"
# –ú–µ—Ç–æ–¥ .select_dtypes() –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –≤—ã–±–æ—Ä–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ DataFrame –ø–æ —Ç–∏–ø—É –¥–∞–Ω–Ω—ã—Ö.
num_columns = df_iris.select_dtypes(include = "float64").columns

# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É "species" –∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è —á–∏—Å–ª–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
# –ú–µ—Ç–æ–¥ groupby() –≥—Ä—É–ø–ø–∏—Ä—É–µ—Ç DataFrame –ø–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏—è–º –≤ —Å—Ç–æ–ª–±—Ü–µ "species".
df_types_of_iris = (
    df_iris.groupby("species")[num_columns]
    .mean()
    .reset_index()
)

df_types_of_iris.head()

C:\Users\Apollo Z\AppData\Local\Temp\ipykernel_17552\2249050404.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_iris.groupby("species")[num_columns]

,species,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm)
0,Iris-setosa,5.006,3.418,1.464,0.244
1,Iris-versicolor,5.936,2.770,4.260,1.326
2,Iris-virginica,6.588,2.974,5.552,2.026

# 10. –ü–æ–¥—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –≤–∏–¥–∞ –∏—Ä–∏—Å–æ–≤ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `.groupby()`.
---

In [115]:
# –ö–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–∏–¥–æ–≤ –∏—Ä–∏—Å–æ–≤
df_unique_species = (
    df_iris.groupby("species")    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É "species"
    .size()                       # –°—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω–æ–≥–æ –≤–∏–¥–∞
    .reset_index(name = "count")  # –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º –∫–æ–ª–æ–Ω–∫—É —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –≤ "count"
)

# –í—ã–≤–æ–¥–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–∏–¥–æ–≤ –∏—Ä–∏—Å–æ–≤
print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–∏–¥–æ–≤ –∏—Ä–∏—Å–æ–≤:")
df_unique_species

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–∏–¥–æ–≤ –∏—Ä–∏—Å–æ–≤:

C:\Users\Apollo Z\AppData\Local\Temp\ipykernel_17552\529302676.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_iris.groupby("species")    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É "species"

           species  count
0      Iris-setosa     50
1  Iris-versicolor     50
2   Iris-virginica     50

# 11. üìä –ó–∞–¥–∞–Ω–∏–µ: –°–æ–∑–¥–∞–π—Ç–µ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É (pivot table)
- **–°—Ç—Ä–æ–∫–∏**: `species`
- **–ó–Ω–∞—á–µ–Ω–∏—è**: `sepal_length (cm)`
- **–ê–≥—Ä–µ–≥–∞—Ü–∏—è**: `mean` (—Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ)
---
# 12. –î–æ–±–∞–≤—å—Ç–µ –≤ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –µ—â—ë –æ–¥–Ω–æ –∑–Ω–∞—á–µ–Ω–∏–µ - petal length (cm).
---

In [ ]:
# –°–æ–∑–¥–∞–Ω–∏–µ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –º–µ—Ç–æ–¥–∞ pivot_table
df_pivot_table = (
    df_iris.pivot_table(
        index = "species",              # –ò–Ω–¥–µ–∫—Å–∏—Ä—É–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É "species"
        values = ["sepal_length (cm)", "petal_length (cm)"],   # –ó–Ω–∞—á–µ–Ω–∏—è –¥–ª—è –∞–≥—Ä–µ–≥–∞—Ü–∏–∏
        aggfunc = "mean",               # –§—É–Ω–∫—Ü–∏—è –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
        fill_value = 0                  # –ó–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω—É–ª—è–º–∏ (–µ—Å–ª–∏ –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö)
    )
)

# –í—ã–≤–æ–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
print("–°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∑–Ω–∞—á–µ–Ω–∏—é sepal_length (cm) –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –≤–∏–¥–∞ –∏—Ä–∏—Å–æ–≤:")
df_pivot_table

–°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ –ø–æ —Å—Ä–µ–¥–Ω–µ–º—É –∑–Ω–∞—á–µ–Ω–∏—é sepal_length (cm) –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –≤–∏–¥–∞ –∏—Ä–∏—Å–æ–≤:

C:\Users\Apollo Z\AppData\Local\Temp\ipykernel_17552\3685607716.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_iris.pivot_table(

                 petal_length (cm)  sepal_length (cm)
species
Iris-setosa                  1.464              5.006
Iris-versicolor              4.260              5.936
Iris-virginica               5.552              6.588

# 13. –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `sepal_ratio` –∫–∞–∫ –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –¥–ª–∏–Ω—ã —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ –∫ –µ–≥–æ —à–∏—Ä–∏–Ω–µ.
---

In [120]:
# –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ "sepal_ratio" –≤ DataFrame df_iris
# –≠—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –¥–ª–∏–Ω—ã —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ –∫ —à–∏—Ä–∏–Ω–µ —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞
df_iris["sepal_ratio"] = df_iris["sepal_length (cm)"] / df_iris["sepal_width (cm)"]

# –í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ DataFrame —Å –Ω–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–æ–º "sepal_ratio"
df_iris.head()

,sepal_length (cm),sepal_width (cm),petal_length (cm),petal_width (cm),species,sepal_ratio
0,5.1,3.5,1.4,0.2,Iris-setosa,1.457143
1,4.9,3.0,1.4,0.2,Iris-setosa,1.633333
2,4.7,3.2,1.3,0.2,Iris-setosa,1.468750
3,4.6,3.1,1.5,0.2,Iris-setosa,1.483871
4,5.0,3.6,1.4,0.2,Iris-setosa,1.388889

# 14. –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –≤–∏–¥ –∏—Ä–∏—Å–∞, —É –∫–æ—Ç–æ—Ä–æ–≥–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ `sepal_ratio`.
---

In [ ]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É "species" –∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è –Ω–æ–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ "sepal_ratio"
mean_sepal_ratio_by_species = (
    df_iris
    .groupby("species")["sepal_ratio"]  # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É "species"
    .agg("mean")  # –í—ã—á–∏—Å–ª—è–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è —Å—Ç–æ–ª–±—Ü–∞ "sepal_ratio"
    .reset_index(name = "mean_sepal_ratio")  # –°–±—Ä–∞—Å—ã–≤–∞–µ–º –∏–Ω–¥–µ–∫—Å –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º –∫–æ–ª–æ–Ω–∫—É
)

# –í—ã–≤–æ–¥–∏–º —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –æ—Ç–Ω–æ—à–µ–Ω–∏—è –¥–ª–∏–Ω—ã —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ –∫ —à–∏—Ä–∏–Ω–µ —á–∞—à–µ–ª–∏—Å—Ç–∏–∫–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –≤–∏–¥–∞ –∏—Ä–∏—Å–æ–≤
mean_sepal_ratio_by_species

C:\Users\Apollo Z\AppData\Local\Temp\ipykernel_17552\1623990506.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("species")["sepal_ratio"]  # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É "species"

           species  mean_sepal_ratio
0      Iris-setosa          1.474578
1  Iris-versicolor          2.160402
2   Iris-virginica          2.230453

# 15. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ç–æ–ª—å–∫–æ –±–∏–±–ª–∏–æ—Ç–µ–∫—É `pandas` –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö. `–£—Å–ª–æ–≤–∏–µ —Å–æ–±–ª—é–¥–µ–Ω–æ!`.
---
# 16. –î–æ–±–∞–≤—å—Ç–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–∞–∂–¥–æ–π –æ–ø–µ—Ä–∞—Ü–∏–∏, –æ–±—ä—è—Å–Ω—è—é—â–∏–µ, —á—Ç–æ –¥–µ–ª–∞–µ—Ç –∫–æ–¥. `–£—Å–ª–æ–≤–∏–µ —Å–æ–±–ª—é–¥–µ–Ω–æ!`.